<div class="container">

    <p class="info_where size_medium"><span>{{dispatch}}</span> → <span>{{destination}}</span></p>

    <p class="info_quantity size_medium">Кол-во грузовых мест: <span>{{quantity}}</span></p>

    <p class="info_volume size_medium">Общий объём груза: <span>{{volume}}</span></p>

    <p class="info_weight size_medium">Общий вес брутто: <span>{{weight}}</span></p>

    <p class="info_basis_price size_medium">Стоимость отправки (базовая): <span>{{basePrice}}</span></p>

    <p class="info_discount_price size_medium">Стоимость отправки с учётом скидки: <span>{{price}}</span></p>

    <p class="info_delivery size_small">{{serviceName0}}: <span>{{servicePrice0}}</span></p>

    <p class="info_insurance size_small">Страхование груза: <span>{{servicePrice1}}</span></p>

    <p class="info_payment_travel size_small">{{serviceName2}}: <span>{{servicePrice2}}</span></p>

</div>
